<h4><b><i>Step 3: Select meals</i></b></h4>

<table>
    <thead>
        <th>Date of Delivery</th>
        <th>Meal 1</th>
        <th>Meal 2</th>
        <th>Meal 3</th>
        <th>Meal 4</th>
    </thead>
    <tbody>
        <tr>
            <td>Date</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="items" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select meal
                </button>
                <div class="dropdown-menu" aria-labelledby="items">
                  <a class="dropdown-item" href="#">Pizza</a>
                  <a class="dropdown-item" href="#">Sandwich</a>
                  <a class="dropdown-item" href="#">Parfait</a>
                  <a class="dropdown-item" href="#">Cake</a>
                </div>
              </div>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="items" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select meal
            </button>
            <div class="dropdown-menu" aria-labelledby="items">
              <a class="dropdown-item" href="#">Pizza</a>
              <a class="dropdown-item" href="#">Sandwich</a>
              <a class="dropdown-item" href="#">Parfait</a>
              <a class="dropdown-item" href="#">Cake</a>
            </div>
          </div> 
    </td>
    <td>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="items" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select meal
        </button>
        <div class="dropdown-menu" aria-labelledby="items">
          <a class="dropdown-item" href="#">Pizza</a>
          <a class="dropdown-item" href="#">Sandwich</a>
          <a class="dropdown-item" href="#">Parfait</a>
          <a class="dropdown-item" href="#">Cake</a>
        </div>
      </div>
</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="items" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select meal
    </button>
    <div class="dropdown-menu" aria-labelledby="items">
      <a class="dropdown-item" href="#">Pizza</a>
      <a class="dropdown-item" href="#">Sandwich</a>
      <a class="dropdown-item" href="#">Parfait</a>
      <a class="dropdown-item" href="#">Cake</a>
    </div>
  </div>
</td>
        </tr>
    </tbody>
</table>