<nav class="navbar navbar-expand-lg navbar-light al-navbar fixed-top">
  <a class="navbar-brand" href="#">MEAL OPTIMIZER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="primaryNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/app-info/home">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/app-info/contact-us">Contact us</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/meal-planner/user-redirect" [hidden] = "authenticatedUser.loggedIn">Register/Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/meal-planner">Meal Planner</a>
          </li>
          <li class="nav-item">
              <a *ngIf="authenticatedUser.loggedIn; else loggedOut" class="nav-link" (click)="logout()">Logout</a>
              <ng-template #loggedOut>
                  <a routerLink="/meal-planner/user-redirect" class="nav-link">Guest</a>
              </ng-template>    
          </li>
      </ul>
  </div>
</nav>