<div *ngIf="!setCollapseInd"><h4><b><i>Step 1: Select diet type</i></b></h4></div>
<div *ngIf="setCollapseInd"><h4><b><i>Step 1: Diet Type: {{userDietType}}</i></b></h4></div>
    <div #collapsible [ngClass]="(setCollapseInd)?'collapse':'show'">
        <div *ngFor="let dietType of dietTypes | keyvalue">
                <input type="radio" [id]='dietType.key' [(ngModel)]="userDietType" name="user_diet_type" [value]="dietType.key" (click)="onDietTypeSelect(dietType.key)">{{dietType.value}}<br/>
        </div>
</div>
<hr/>