        <h4><b><i>Step 1: Select diet type</i></b></h4>
        <div>
                <input type="radio" [(ngModel)]="userDietType" name="user_diet_type" value="ALL">General<br/>
                <input type="radio" name="user_diet_type" value="VEGAN">VEGAN<br/>
                <input type="radio" name="user_diet_type" value="GLUTENFREE">GLUTEN FREE<br/>
                <input type="radio" name="user_diet_type" value="FATFREE">FAT FREE<br/>
                <input type="radio" name="user_diet_type" value="DAIRYFREE">DAIRY FREE<br/>
                <input type="radio" name="user_diet_type" value="VEGETARIAN">VEGETARIAN
        </div>
        <p>You chose {{userDietType}}</p>