.background {
  background-image: url('/assets/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
}

.left {
  width: 50vw;
  text-align:center;
}

.tagline {
  width: 100vw;
}

.tagline h1 { 
  color: #654322; 
  font-family: 'Tangerine', serif; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0; 
}

.custom {
	font-family: "Source Sans Pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 30px;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}

/*-- Workflow Section CSS --*/
#Workflow .work-process {
    background-color: #fafbf2;
    padding: 2px;
    position: relative;
    border-bottom: 1px solid #92A355;
}
#Workflow .work-process p {
    color: #654322;
    font-family: "Roboto Slab","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media only screen and (max-width: 576px) {
  .left h3 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  .tagline h1 {
    font-size: 45px;
    text-align: center;
  }
  #Workflow {
    margin-top: 20px;
  }
  #Workflow .work-process {    
    max-width: 60%;
    margin:auto;
    margin-top: 10px;
  }
  #Workflow .work-process p {
    display: none; 
  }
  #Workflow .work-process h3 {
    margin: 5px 0px;    
    font-size: 12px;
    font-weight: normal;
    color: #654322;
    font-family: "Roboto Slab","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  #Workflow .work-process i {
    margin: 0 auto;
    display: table;
    background-color: #92A355;
    width: 20px;
    height: 20px;    
    border-radius: 28px;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .left {
    width: 100vw;
  }
  .home_btn {
    background-color: #92A355;
    padding: 0.225em;
    border-radius: 4px;
    display: inline;
    margin-top: 10%;
    border: 1px solid #92A355;
    width: 10rem;
    font-family: 'Segoe UI','Arial Narrow', sans-serif;
    font-size: 14px;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {  
  .tagline {
    text-align: center;
  }
  .tagline h1 {
    font-size: 88px;
  }
  .left {
    width: 100vw;
    text-align: center;
  }
  
  #Workflow {
    margin-top: 70px;
  }
  #Workflow .work-process {
    background-color: #fafbf2;
    padding: 10px;
    position: relative;
    border-bottom: 3px solid #92A355;
    text-align: center;
    height : 100%;
}
  #Workflow .work-process h3 {
    margin: 15px 0px;    
    font-size: 15px;
    font-weight: normal;
    color: #654322;
    font-family: "Roboto Slab","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  #Workflow .work-process p {
    font-size: 12px;
  }
  #Workflow .work-process i {
    margin: 0 auto;
    display: table;
    background-color: #92A355;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    color: #fff;    
    line-height: 1.5;
  }
  .home_btn {
    background-color: #fafbf2;
    padding: 0.625em;
    border-radius: 4px;
    display: inline;
    margin-top: 10%;
    border: 1px solid #92A355;
    width: 12rem;
    font-family: 'Segoe UI','Arial Narrow', sans-serif;
    font-size: 16px;
    color: #654322;
  }
}
@media only screen and (min-width: 1025px) {
  .tagline {
    text-align: left;
  }
  .tagline h1 {
    font-size: 88px;
  }
  #Workflow {
    margin-top: 110px;
  }
  #Workflow .work-process {
    background-color: #fafbf2;
    padding: 10px;
    position: relative;
    border-bottom: 3px solid #92A355;
    text-align: center;
    height : 100%;
  }
  #Workflow .work-process h3 {
    margin: 15px 0px;    
    font-size: 20px;
    font-weight: normal;
    color: #654322;
    font-family: "Roboto Slab","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  #Workflow .work-process p {
    font-size: 12px;
  }
  #Workflow .work-process i {
    margin: 0 auto;
    display: table;
    background-color:#92A355;
    width: 70px;
    height: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 70px;
  }
  .home_btn {
    background-color: #fafbf2;
    padding: 0.625em;
    border-radius: 4px;
    display: inline;
    margin-top: 10%;
    border: 1px solid #92A355;
    width: 12rem;
    font-family: 'Segoe UI','Arial Narrow', sans-serif;
    font-size: 16px;
    color: #654322;
  }
}
/*-- Workflow Section CSS --*/