.home_text {
    color: blue;
    text-align: left;
    width: 25%;
    padding: 0.4em 1.6em 0 3em;
  }
  
  .home_text h1 {
    font-family: "Caveat", cursive;
    font-size: 72px;
    z-index: 1;
    padding-bottom: 0.25em;
  }
  
  .home_text p {
    z-index: 1;
    margin-bottom: 2.2em;
    line-height: 1.5;
  }