.background {
  background-image: url('/assets/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
}

.left {
  width: 40vw;
  text-align:center;
}

.left h3 {
  font-family: "Source Serif Pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 2em;
  color: hsl(148, 84%, 25%);
  font-weight: bold;
}

.home_btn {
  background-color: #fafbf2;
  padding: 0.625em;
  border-radius: 4px;
  display: inline;
  margin-top: 1%;
  border: 1px solid hsl(148, 84%, 25%);
  width: 7rem;
  font-family: 'Segoe UI','Arial Narrow', sans-serif;
  font-size: 15px;
  color: #654322;
}

@media only screen and (max-width: 1024px) {
  .left {
    width: 100vw;
  }
}

@media only screen and (max-width: 576px) {
  .left h3 {
    font-size: 1.5em;
  }
}

.custom {
	font-family: "Source Sans Pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 30px;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
}

/*-- Workflow Section CSS --*/
.section-title h4 {
  color: #626919;
  font-family: 'Segoe UI','Arial Narrow', sans-serif;
  text-align: left;
}
#Workflow {
  margin-top: 100px;
}
#Workflow .work-process {
    background-color: #fafbf2;
    padding: 10px;
    position: relative;
    border-bottom: 3px solid #92A355;
    text-align: center;
    height : 100%;
}
#Workflow .work-process i {
    margin: 0 auto;
    display: table;
    background-color: #92A355;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 70px;
}
#Workflow .work-process h3 {
    margin: 15px 0px;
}
#Workflow .work-process h3 p {
    font-size: 20px;
    color: #654322;
}
#Workflow .work-process p {
    color: #654322;
}
/*-- Workflow Section CSS --*/