<div class="row">
  <div class="col-6">
    <img src="../../../assets/images/background.png" alt="Meal Optimizer" class="img-fluid vh-100">
  </div>
  <div class="col-6 align-self-center home_text">
    <h1>Meal Optimizer</h1>
    <p>Eat what you wish, on a budget</p>
    <button class="home_btn" *ngIf="!authenticatedUser" (click)='goToLoginOrRegister()'>Login/Register</button>
    <button class="home_btn" *ngIf="authenticatedUser" (click)='goToMealPlanner()'>Take me to Meal Planner</button>
  </div>
</div>
