<div class="row float-right">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <button
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let shoppingItem of shoppingItems; let i = index"
        (click)="onEditItem(i)"
      >
        {{ shoppingItem.name }} ({{ shoppingItem.amount }}) {{ shoppingItem.measure }}
        <span class="badge badge-secondary float-right" *ngFor="let label of shoppingItem.labels">{{label}}</span>
    </button>
    </ul>
  </div>
</div>
