<div class="row float-right">
    <div class="col-xs-10">
        <app-shopping-edit (addIngredient)="addItemToShoppingList($event)" (deleteIngredient)="deleteItemInShoppingList($event)" (updateIngredient)="updateItemInShoppingList($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <button class="list-group-item" type="button" *ngFor="let shoppingItem of shoppingList; index as indexOfShoppingItem" (click)="onLoadShoppingItem(indexOfShoppingItem)">
            <span class="float-left">{{shoppingItem.name}} ({{shoppingItem.amount}} {{shoppingItem.measure}})</span>
                        <span class="badge badge-secondary float-right" *ngFor="let label of shoppingItem.labels">{{label}}</span>
            </button>
        </ul>
    </div>
</div>