<div class="row float-right">
    <div class="col-xs-10">
        <app-shopping-edit (addIngredient)="addIngredient($event)" (deleteIngredient)="deleteIngredient($event)" (updateIngredient)="updateIngredient($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <button class="list-group-item" type="button" *ngFor="let ingredient of ingredients; index as indexOfIngredient" (click)="onLoadIngredient(indexOfIngredient)">
            <span class="float-left">{{ingredient.name}} ({{ingredient.amount}})</span>
                        <span class="badge badge-secondary float-right" *ngFor="let label of ingredient.labels">{{label}}</span>
            </button>
        </ul>
    </div>
</div>