<div class="row mt-4 ml-1">
    <div class="col-md-11">
        <h4 class="custom-recipes-display" style="text-align : center"> {{ defaultText }}</h4>
        <div *ngIf="recipes">
            <div class="justify-content-start py-4">
                <p class="section-name">Recipes</p>
            </div>
            <div class="row recipes-custom-layout justify-content-between ml-4">
                <div class="col-xs-11 col-md-4 mb-4 custom-recipes-display">
                    <app-recipe-list [recipes] = "recipes"></app-recipe-list>
                </div>
                <div class="col-xs-11 col-md-7 custom-recipes-display">
                    <div *ngIf="!recipeSelected; else recipe_detail">                    
                            <app-recipe-start style="margin-top: 50px"></app-recipe-start>
                    </div>
                </div>
                    <ng-template #recipe_detail class="custom-recipes-display">
                        <app-recipe-detail></app-recipe-detail>
                    </ng-template>
            </div>    
        </div>
    </div>
</div>    