@media only screen and (min-width: 768px) {
	.recipes-custom-layout {
        display: flex;
        flex-direction: row;
	}
}

@media only screen and (max-width: 767px) {
	.recipes-custom-layout {
        display: flex;
        flex-direction: column;
        max-width: 100%;
	}
}