<h4 class="row justify-content-start py-md-4 font-weight-bold font-italic">Step 1: Select diet type</h4>
    <div class="row mt-md-5"></div>
        <div *ngFor="let dietType of dietTypes" class="form-check ml-md-2 mt-md-3">
                <input type="radio"
                       class="form-check-input" 
                       [id]='dietType.dietType' 
                       [(ngModel)]="userDietType" 
                       name="user_diet_type" 
                       [value]="dietType.dietType" 
                       (click)="onDietTypeSelect(dietType.dietType)">
                <label class="form-check-label" for="dietType.dietType">       
                {{dietType.displayValue}}
                </label>
    </div>        