<h4 class="row justify-content-start py-md-4 pr-md-4 font-weight-bold font-italic">Step 1: Select diet type</h4>
    <div class="mt-md-5 ml-md-2">
        <div class="p-md-2" *ngFor="let dietType of dietTypes">
                <input type="radio"
                       class="form-check-input" 
                       [id]='dietType.dietType' 
                       [(ngModel)]="userDietType" 
                       name="user_diet_type" 
                       [value]="dietType.dietType" 
                       (click)="onDietTypeSelect(dietType.dietType)">{{dietType.displayValue}}<br/>
        </div>
    </div>