<h4 class="sec-heading m-5">Step 3: Select meals - Choose wisely</h4>
    <table>
        <thead>
            <th>Date of Delivery</th>
            <th>Meal 1</th>
            <th>Meal 2</th>
            <th>Meal 3</th>
            <th>Meal 4</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ dateOfDelivery | date }}</td>
                <td *ngFor="let i of [0,1,2,3]; index as indexOfMeal">
                    <app-meal-options [indexOfMeal] = "indexOfMeal"></app-meal-options>
            </td>
            </tr>
            <br/>
        </tbody>
    </table>