.flex_container_row {
	display: flex;
	flex-direction : row;
}

.flex_container_column {
	display: flex;
	flex-direction : column;
}
@media only screen and (min-width: 960px) {
	.custom-col-width {
		width: 22%;
		flex: 0 0 22%;
		max-width: 22%;
	}
	.date-of-delivery {
		width: 12%;
		flex: 0 0 12%;
		max-width: 12%;
	}
}

@media only screen and (max-width: 959px) {
	.custom-col-width {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.date-of-delivery {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}