<div class="row ml-md-4" *ngIf="optimizationError">
    {{ optimizationError }}
</div>
<div class="row ml-md-4" *ngIf="!isOptimizationFeasible">
    Sorry, the meals you have selected does not satisfy your daily nutrition requirements. Please choose a different meal plan.
<hr/>
</div>
<h4 class="row justify-content-start py-md-4 pr-md-4 font-weight-bold font-italic">Step 4: Results</h4>
<div class="row w-100 ml-md-1">
    <app-optimized-results-table
    class="w-100 border"
        [costOptimizedPlan] = "costOptimizedPlan"
        [qualityOptimizedPlan] = "qualityOptimizedPlan"
        [isOptimizationFeasible] = "isOptimizationFeasible"
        [defaultText] = "defaultText">
    </app-optimized-results-table>
</div>    
<div class="row py-md-2">
    <button type="button" 
        class="btn btn-dark ml-5" 
        (click)="placeOrderSelected()" 
        [hidden]="!allowUserToPlaceOrderOrGetRecipe">Place order</button>
    <button type="button" 
        class="btn btn-dark ml-3" 
        (click)="getRecipeSelected()" 
        [hidden]="!allowUserToPlaceOrderOrGetRecipe">Get recipe</button>
</div>
<router-outlet></router-outlet>