<div class="row ml-md-4" *ngIf="optimizationError">
    {{ optimizationError }}
</div>
<div class="row ml-md-4" *ngIf="!isOptimizationFeasible">
    Sorry, the meals you have selected does not satisfy your daily nutrition requirements. Please choose a different meal plan.
<hr/>
</div>
<h4 class="row justify-content-start py-md-4 pr-md-4 font-weight-bold font-italic">Step 4: Results</h4>
<app-optimized-results-table
    class="w-80 ml-md-4"
        [costOptimizedPlan] = "costOptimizedPlan"
        [qualityOptimizedPlan] = "qualityOptimizedPlan"
        [isOptimizationFeasible] = "isOptimizationFeasible"
        [defaultText] = "defaultText">
</app-optimized-results-table>
<button type="button" 
        class="btn btn-dark" 
        (click)="placeOrderSelected()" 
        [hidden]="!allowUserToPlaceOrderOrGetRecipe">Place order</button>
<button type="button" 
        class="btn btn-dark" 
        (click)="getRecipeSelected()" 
        [hidden]="!allowUserToPlaceOrderOrGetRecipe">Get recipe</button>
<router-outlet></router-outlet>