<h4><b><i>Result</i></b></h4>
<app-optimized-results-table></app-optimized-results-table>
<br/>
<div class="row">
<button type="button" class="btn btn-dark" (click)="onSelect('placeOrderSelected')">Place order</button>
<button type="button" class="btn btn-dark" (click)="onSelect('getRecipeSelected')">Get recipe</button>
</div>
<app-order-summary></app-order-summary>
<app-recipes [hidden]="actionSelected!=='getRecipeSelected'"></app-recipes>
<app-shopping-list [hidden]="actionSelected!=='getRecipeSelected'"></app-shopping-list>
<app-online-order [hidden]="actionSelected!=='placeOrderSelected'"></app-online-order>