    <div class="row custom-display mt-md-4 border">
        <div class="col-md-4 border">
            <app-user-diet-type [dietTypes]='dietTypes'></app-user-diet-type>
        </div>
        <div class="col-md-8 border">
            <app-delivery-date-selector></app-delivery-date-selector>
        </div>    
    </div>
    <div class="row border mt-md-4">
        <div class="col-md-12">
            <app-meal-selector></app-meal-selector>
        </div>    
    </div>
    <div class="row mt-md-4">
        <div class="col-md-12">
            <app-optimized-meal-plan class="col-md-12 justify-content-start"></app-optimized-meal-plan>
        </div>    
    </div>