<div class="container">
    <div class="row h-10 col-md-11 justify-content-start">
        <div class="col-md-3">
            <app-user-diet-type [dietTypes]='dietTypes'></app-user-diet-type>
        </div>
        <div class="col-md-8">
            <app-delivery-date-selector></app-delivery-date-selector>
        </div>    
    </div>
    <div class="row col-md-11 justify-content-start">
        <app-meal-selector class="w-100 justify-content-start"></app-meal-selector>
    </div>
    <div class="row col-md-11 justify-content-start">
        <app-optimized-meal-plan class="col-md-12 justify-content-start"></app-optimized-meal-plan>
    </div>    
</div>