@media only screen and (min-width: 960px) {
	.custom-display {
        display: flex;
        flex-direction: row;
        width: 100%;
	}
        .custom-diet-type-width {
          width: 40%;      
        }
        .custom-delivery-date-width {
          width: 50%;      
        }
}

@media only screen and (max-width: 959px) {
	.custom-display {
        display: flex;
        flex-direction: column;
        width: 100%;
	}
        .custom-diet-type-width {
                width: 100%;    
        }
              .custom-delivery-date-width {
                width: 100%;    
              }
}