<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="shoppingEdit" (ngSubmit)="onAddIngredient()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="ingredientName">Name</label>
                    <input  type="text" id="ingredientName" 
                            class="form-control" 
                            formControlName="ingredientName">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="ingredientAmount">Amount</label>
                    <input  type="number" id="ingredientAmount" 
                            class="form-control"
                            formControlName="ingredientAmount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger" type="button" (click)="onDeleteIngredient()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClearIngredient()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>