<h4>Order online</h4>
<form>
    <label for="fname">First name:</label>
    <input type="text" id="fname" 
           name="fname" 
           [value]="authenticatedUser.user.firstName">
    <br>
    <br>
    <label for="lname">Last name:</label>
    <input type="text" 
           id="lname" 
           name="lname" 
           [value]="authenticatedUser.user.lastName">
    <br>
    <br>
    <label for="address">Address:</label>
    <input type="text" 
           id="address" 
           name="address" 
           [value]="authenticatedUser.user.address">
    <br>
    <br>
    <input type="submit" value="Place Order">
</form>