<div *ngIf="!setCollapseInd"><h4><i><b>Step 2: Select date of delivery</b></i></h4></div>
<div *ngIf="setCollapseInd"><h4><b><i>Step 2: Date of delivery: {{ dateOfDelivery | date }}</i></b></h4></div>
<div #collapsible [ngClass]="(setCollapseInd)?'collapse':'show'">
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
  </div>
</div>
<br/>
<br />
<div [ngSwitch]="view" class="month-view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    (dayClicked)="dateOfDeliveryChosen($event.day)"
  >
  </mwl-calendar-month-view>
  <div class="row text-center" *ngIf="dateOfDelivery!==undefined">
    <b>Date of delivery: {{ dateOfDelivery | date }}</b>
    </div>
</div>
</div>
<hr/>