<div class="row mt-5">
  <div class="col-md-12 ml-4">
    <app-shopping-edit class="w-100"></app-shopping-edit>
    <ul class="list-group col-md-6">
      <button
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let shoppingItem of shoppingItems; let i = index"
        (click)="onEditItem(i)"
      >
        {{ shoppingItem.name }} ({{ shoppingItem.amount }}) {{ shoppingItem.measure }}
        <span class="badge badge-secondary float-right" *ngFor="let label of shoppingItem.labels">{{ label }}</span>
    </button>
    </ul>
  </div>
</div>