.overlay {
    background: rgb(245, 245, 245, 0.80);
    width: 70vw;
}
.custom-error-message {
    text-align: center;    
    color: #654322;
    font-size: 20px;
    font-family: "Roboto Slab","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}  