/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.sec-heading {
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding: 10px;
}