/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
.sec-heading {
    font-weight: bold;
    font-style: italic;
    text-align: left;
}