<div class="mt-md-0 mt-sm-5 custom-recipe-detail-layout">
    <img 
            [src]="recipeSelected.imageUrl" 
            alt="{{ recipeSelected.name }}" 
            class="img-responsive custom-recipe-image-layout"
            style="max-height : 300px">
            <h4>{{recipeSelected.name}}</h4>
            <a href="{{recipeSelected.tutorialPath}}"> Watch the tutorial here </a><br/>
            <label for="noOfPortions mr-1">No. of portions</label>
            <input class="col-lg-2 col-md-3 col-sm-2 col-4 ml-1 mt-1" type="number" id="noOfPortions" [(ngModel)]="noOfPortions" min="1"><br/>
            <p>Ingredients</p>
            <table>
            <tr *ngFor="let ingredient of recipeSelected.ingredients">
                    <td>{{ ingredient.name }}</td>
                    <td class="border-bottom text-left text-sm-right">: {{ ingredient.quantity.amount * noOfPortions }} ({{ ingredient.quantity.measure}})</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn custom-manage-recipe my-2" (click)="onAddToShoppingList()">Add ingredients to shopping list
                    </button>
                </td>
            </tr>        
        </table>
</div>    