.custom-manage-recipe {
    background-color:#92A355;
    color: #fff;    
}
@media only screen and (min-width: 401px) and (max-width: 767px) {
    .custom-recipe-detail-layout {
        margin-top: 50px;
        width: 80vw;
    }
    .custom-recipe-image-layout {
        width: 60vw;
    }
}
@media only screen and (max-width: 400px) {
    .custom-recipe-detail-layout {
        width: 70vw;
    }
    .custom-recipe-image-layout {
        width: 60vw;
    }    
}