@media only screen and (min-width: 768px) {
	.custom-item-display {
		width: 100%;
	}
	.custom-description-display {
        color: #654322;
	}
}

@media only screen and (max-width: 767px) {
	.custom-description-display {
        display: none;
	}
	.custom-item-display {
		width: 70vw;
	}
}

@media only screen and (min-width: 630px) {
	.custom-recipe-item-font {
		font-size: x-large;
		font-weight: bolder;
	}
	}
	
@media only screen and (max-width: 629px) {
	.custom-recipe-item-font {
		font-size: medium;
		font-weight: bolder;
	}
	}

	@media only screen and (max-width: 576px) {
		.custom-recipe-item-font {
			font-size: small;
			font-weight: bolder;
		}
		}	

		@media only screen and (max-width: 359px) {
			.custom-recipe-item-font {
				font-size: x-small;
				font-weight: bolder;
			}
			}