<button class="list-group-item clearfix w-100 h-100" (click) = "onItemSelect()">
        <p class="list-group-item-heading custom-font">{{recipe.name}}</p>
        <p class="list-group-item-text custom-item-display">{{recipe.description}}</p>
        <div class="custom-item-display">
            <img src="{{recipe.imageUrl}}" alt="{{recipe.name}}" class="img-responsive" style="max-height : 50px;">
        </div> 
        <div class="custom-item-display">   
            <a href="{{recipe.tutorialPath}}"> Watch the tutorial here </a>
        </div>    
</button>