<h4 class="justify-content-start my-4 ml-1">Contact us</h4>
<div class="mt-1 ml-1 border">
    <div class="m-3">
        <p>We want it all - We want a booming business, we want raving fans, we want to hear from you.</p>
        <br/>
        <p>Reach out to us, whether its for appreciation, criticism or even a rant!</p>
        <br/>
        <form>
            <label class="mw-100" for="name">Name (optional):</label>
            <input class="mw-100 ml-2" type="text" id="name" name="name"><br><br>
            <label class="mw-100" for="comments">Your comments:</label>
            <input class="mw-100 ml-2" type="text" id="comments" name="comments"><br><br>
            <input type="submit" value="Send">
        </form>
    </div>
</div>