<div class="mt-5 ml-1 border">
    <p>We want it all - We want a booming business, we want raving fans, we want to hear from you.</p>
    <br/>
    <p>Reach out to us, whether its for appreciation, criticism or even a rant!</p>
    <br/>
    <form>
        <label for="name">Name (optional):</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="comments">Your comments:</label>
        <input type="text" id="comments" name="comments"><br><br>
        <input type="submit" value="Send">
    </form>
</div>