<h4 class="justify-content-start my-4 ml-1">Contact us</h4>
<div class="mt-1 ml-1 border col-md-10 col-xs-12">
    <div class="m-3">
        <p>We want it all - We want a booming business, we want raving fans, we want to hear from you.</p>
        <p>Reach out to us, whether its for appreciation, criticism or even a rant!</p>
        <form class="mt-4">
            <label for="name" class="font-weight-bold">Name (optional)</label>
            <input class="form-control w-100" type="text" id="name" name="name" placeholder="Enter your name here (optional)">
            <label for="comments" class="font-weight-bold">Your comments</label>
            <input class="form-control mb-2 w-100" type="text" id="comments" name="comments" placeholder="Enter your comments here">
            <input class="mt-4" type="submit" value="Send">
        </form>
    </div>
</div>